# Operating System Files

*.DS_Store
Thumbs.db

# Build Files #

bin
target
build/
node
.gradle

# Eclipse Project Files #

.classpath
.project
.settings
.springBeans

# Test files

accessingdataneo4j.db
dependency-reduced-pom.xml
README.html